@import "tailwindcss";

:root {
  --background: #001A33;
  --foreground: #F5F5F7;
  --primary: #001A33;
  --secondary: #F5F5F7;
  --accent: #10B981;
  /* Emerald Green */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
}